@media screen and (max-width: 775px){
  body {
    background: #000;
    min-height: 100vh;
    position: relative;
  }

  .conteiner_fundo {
    background-color: #00f4bf;
    height: calc(100% - 389px);
    left: 0;
    position: absolute;
    right: 0;
    top: 150px;
    z-index: 0;
  }

    .botoes {
    align-items: center;
    background-color: #1875e8;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 10px;
    justify-content: center;
    padding: 16px;
    text-align: center;
    width: 90px;
    margin: auto;
  }
  #botao_reiniciar {
    background-color: red;
  }
  #botao_sortear {
    background-color: green;
  }

  .conteiner_principal {
    background-color: #000;
    border: 1px solid #1875e8;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 30px #1875e8);
    height: 90%;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: 1;
  }

  .conteiner_decoracao {
    background-color: #00f4bf;
    clip-path: polygon(0% 100%, 0% 50%, 4% 0%, 100% 0%, 100% 50%, 96% 100%);
    position: absolute;
    width: auto;
    z-index: 3;
  }

  .botoes_formulario {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  .conteiner_conteudo {
    justify-content: start;
    padding: 10px;
  }

  .lista_amigos {
    background-color: #000;
    border: 1px solid #1875e8;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    display: flex;
    margin-top: 1rem;
    padding: 8px 16px;
    width: auto;
  }

  .lista_amigos  p {
    font-family: Inter;
    color: #fff;
    font-size: 21px;
  
  }
  
  .titulo_lista {
    font-family: Inter;
    text-align: center;
    color: #1875e8;
    font-size: 24px;
    font-weight: 700;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    font-family: Inter;
  }

  .botoes_formulario {
    align-items: center;
    display: flex;
  }

  .input_formulario {
    align-items: center;
    background-color: transparent;
    border: 1px solid #1875e8;
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 21px;
    margin-bottom: 32px;
    outline: none;
    padding: 8px 16px;
    width: auto;
    cursor: pointer;
  }

  .input_formulario::placeholder {
    color: #fff;
    font-size: 21px;
  }

  .titulo_formulario {
    text-align: center;
    color: yellow;
    font-size: 24px;
    margin-bottom: 16px;
  }

  .lista_sorteio {
    background-color: #000;
    font-family: Inter;
    align-items: center;
    border: 1px solid #1875e8;
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 21px;
    justify-content: center;
    margin-top: 1rem;
    padding: 24px;
    width: auto;
  }

  .titulo_sorteio {
    color: #00f4bf;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
  }

  .resultado {
    align-items: center;
    font-family: Inter;
    font-style: normal;
    margin-top: 1rem;
    
  }
  
  .titulo_personalizado {
    color: #fff;
    font-family: Chakra Petch;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    width: 10vw;
    margin: 0 0 80px 0;
  }
  .titulo_personalizado > span {
    color: #1875e8;
  }

  .imagem_presente {
    position: absolute;
    right: 0vw;
    top: 1vw;
    width: 60%;
  }

}

@media screen and (min-width: 776px){
  body {
    background: #000;
    min-height: 100vh;
    position: relative;
  }
  
  .conteiner_fundo {
    background-color: #00f4bf;
    height: calc(100% - 389px);
    left: 0;
    position: absolute;
    right: 0;
    top: 195px;
    z-index: 0;
  }
  
  .botoes {
    align-items: center;
    background-color: #1875e8;
    border: none;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    gap: 10px;
    height: 52px;
    justify-content: center;
    line-height: normal;
    padding: 16px 24px;
    text-align: center;
    width: 208px;
  }
  #botao_reiniciar {
    background-color: red;
  }
  #botao_sortear {
    background-color: green;
  }
  
  .conteiner_principal {
    background-color: #000;
    border: 1px solid #1875e8;
    border-radius: 16px;
    filter: drop-shadow(0px 0px 30px #1875e8);
    height: 90%;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: 1;
  }
  
  .conteiner_decoracao {
    background-color: #00f4bf;
    bottom: -15px;
    clip-path: polygon(0% 100%, 0% 50%, 4% 0%, 100% 0%, 100% 50%, 96% 100%);
    height: 33px;
    position: absolute;
    right: 32px;
    width: 511px;
    z-index: 3;
  }
  
  .conteiner_conteudo {
    flex-direction: column;
    gap: 80px;
    justify-content: start;
    padding: 100px;
  }
  
  .lista_amigos {
    background-color: #000;
    border: 1px solid #1875e8;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    display: flex;
    margin-top: 1rem;
    padding: 8px 16px;
    width: auto;
  }

  .lista_amigos  p {
    font-family: Inter;
    color: #fff;
    font-size: 21px;
  
  }
  
  .titulo_lista {
    font-family: Inter;
    text-align: center;
    color: #1875e8;
    font-size: 24px;
    font-weight: 700;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-style: normal;
  }
  
  .botoes_formulario {
    align-items: center;
    display: flex;
    gap: 32px;
  }
  
  .input_formulario {
    align-items: center;
    background-color: transparent;
    border: 1px solid #1875e8;
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 21px;
    margin-bottom: 32px;
    outline: none;
    padding: 8px 16px;
    width: auto;
    cursor: pointer;
  }

  .input_formulario::placeholder {
    color: #fff;
    font-size: 21px;
  }
  
  .titulo_formulario {
    color: yellow;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 16px;
  }
  
  .imagem_presente {
    position: absolute;
    right: 0vw;
    top: 1vw;
    width: 50%;
  }
  
  .lista_sorteio {
    background-color: #000;
    font-family: Inter;
    align-items: center;
    border: 1px solid #1875e8;
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 21px;
    justify-content: center;
    margin-top: 1rem;
    padding: 24px;
    width: auto;
  }
  
  .titulo_sorteio {
    color: #00f4bf;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
    text-align: center;
    margin-top: 1rem;
  }
  
  .resultado {
    align-items: center;
    font-family: Inter;
    font-style: normal;
    margin-top: 1rem;
    
  }
  
  .titulo_personalizado {
    color: #fff;
    font-family: Chakra Petch;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    width: 10vw;
    margin: 0 0 80px 0;
  }
  .titulo_personalizado > span {
    color: #1875e8;
  }

  
}


